# Python Course

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing.

Python is a high-level, dynamically typed programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable.

# Notebook 1

## Print Function in Python

print function is used when we want to display something on the screen

In [2]:
print("Yusra")

Yusra

In [ ]:
print("yahya")

## Variables and Data Type in Python

A variable is a container of a value. 

A data type is a different kind of value type that are possible to use in python such as number (int), float (decimal number), string (series of characters), boolean (True or False), dictionaries (key value pairs), lists, arrays 

In python a variable behaves like the value that it contains.

### Strings

In [6]:
name = "yusra"
print(name)

yusra

In [9]:
house = 5

In [19]:
print("My name is "+name)

My name is yusra

In [10]:
print(type(name))

<class 'str'>

### Integer

In [11]:
age = 28

In [14]:
age = age + 1  ## OR age+=1
print(age)

30

In [17]:
type(age)

int

#### what would happen if I add a string and integer variable?

In [21]:
#print("My age is " + age)

age = str(age)

print("My age is " + age)

My age is 30

### Float

In [23]:
height = 152.5

In [24]:
print("My height is =" + height)

TypeError: can only concatenate str (not "float") to str

In [25]:
height = str(height)
print("My height is "+ height +" cm")

My height is 152.5 cm

### Boolean

In [29]:
human = True

muslim = True

above_30 = False

print("Is Yusra a human? "+str(human))

Is Yusra a human? True

In [30]:
print(muslim and above_30)

False

In [ ]:
print(muslim and above_30) # Logical AND;
print(muslim or above_30)  # Logical OR;
print(not above_30)   # Logical NOT;

### Lists

### Dictionaries

### Sets

### Multiple assignments

Assigning values to multiple variables at the same time with one line of code

In [32]:
name_1 = "Yusra"
name_2 = "Yusra"
name_3 = "Yusra"

In [33]:
name_1 = name_2 = name_3 = "Yusra"

In [34]:
print(name_3)

Yusra

In [ ]:
taxi_1 = taxi_2 = taxi_3 = "Camry"

In [ ]:
print(taxi_1,taxi_2,taxi_3)

In [35]:
car, car_type, off_road = "Bugatti Chiron" , "Sedan", False

In [ ]:
print(car,car_type,off_road)

### String Methods

In [36]:
name = "silly miley"

In [37]:
len(name)

11

In [39]:
print(name.find("l"))

2

In [ ]:
print(name.find("Y"))
print(name.find("s"))
print(name.find("S"))

In [ ]:
name_2 = "nooreh talha"
print(name_2.capitalize())

In [ ]:
print(name_2.upper())

In [ ]:
print(name.lower())

In [ ]:
print(name.isdigit())
code = "1234"
print(code.isdigit())

In [ ]:
print(name.isalpha())

In [ ]:
print(name.count("h"))

In [ ]:
print(name.replace("Yusra","Y"))

In [ ]:
print(name.rjust(20))      # Right-justify a string, padding with spaces; prints "  hello"

In [ ]:
print(name.center(20))     # Center a string, padding with spaces; prints " hello "

In [ ]:
print(name*3)

### Typecasting 
Converting a data type of a variable from one type to another

In [ ]:
x = 1    #int
y = 2.0  #float
z = "3"  #str

print(x)
print(y)
print(z)

In [ ]:
y = int(y)

print(y)

In [ ]:
print(z*3)

In [ ]:
z = int(z)
print(z*3)

In [ ]:
x = float(x)
y = float(y)
z = float(z)

print(x+y+z)

In [ ]:
#print("x is " + x)

print("x is " + str(x))

## Mathematical Operations

In [ ]:
x = 3

print(x)
print(type(x))
print(x + 1)   # Addition;
print(x - 1)   # Subtraction;
print(x * 2)   # Multiplication;
print(x ** 2)  # Exponentiation;

In [ ]:
x =x + 1
print(x)  # Prints "4"
x = x * 2
print(x)  # Prints "8"

In [ ]:
y = 2.5
print(type(y)) # Prints "<type 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

In [ ]:
import math

In [ ]:
pi = 3.14

print(round(3.14))

In [ ]:
print(math.ceil(pi))

In [ ]:
print(math.floor(pi))

In [ ]:
height = -152
print(abs(height))

In [ ]:
print(pow(pi,2))

In [ ]:
print(math.sqrt(16))

In [ ]:
a, b, c = 1,2,3

print(max(a,b,c))

In [ ]:
print(min(a,b,c))

## Slicing

We can slice in python using indexing and using the slicing function

In [ ]:
full_name = "Yusra Shahid"

In [ ]:
first_name = full_name[0]
print(first_name)

In [ ]:
last_name = full_name[6:13]  ##full_name[6:]
print(last_name)

In [ ]:
funky_name = full_name[0:13:2]  ##full_name[::2]
print(funky_name)

In [ ]:
reversed_name = full_name[::-1]
print(reversed_name)

In [ ]:
website = "www.google.com"

index_1 = slice(4,-4)
print(website[index_1])

In [ ]:
website2 = "www.youtube.com"

print(website2[index_1])

### User Input

In [ ]:
input("What is your name?")

In [ ]:
name = input("What is your full name?")
print("Hello "+name)

In [ ]:
age = input("How old are you?")
age = age + 1

In [ ]:
age = int(input("What is your age?"))
age  = age+1

print("You are "+ str(age)+" old")

## Conditional Statements

if statement: a block of code that will execute only if it's condition is true

In [ ]:
age = int(input("What is your age?"))

if age >= 18:
    print("You are an adult")
else:
    print("You are a child")

In [ ]:
age = int(input("What is your age?"))

if age >= 18:
    print("You are an adult")
elif age < 0:
    print("You are not born yet")
else:
    print("You are a child")

In [ ]:
age = int(input("What is your age?"))

if age == 100:
    print("You are a century old")
elif age >= 18:
    print("You are an adult")
elif age < 0:
    print("You are not born yet")
else:
    print("You are a child")

### Logical Operators

and, or, not - used to check status of two conditional statements

In [ ]:
temperature = 40

if temperature >=10 and temperature <=30:
    print("The weather is good today")
    print("go outside")
elif temperature <10 or temperature >30:
    print("The weather is bad today")
    print("stay indoors")

In [ ]:
temperature = 100 
if not(temperature >= 100):
    print("the water isn't boiling yet")
else:
    print("The water is boiling")

### Loops

#### While loops

A block of code that will execute till the condition is True

In [ ]:
while(True):    ## OR while 1=1
    print("I am stuck in a loop")

In [ ]:
char = input("pick a character? ")
while (char!="q"):
    char = input("pick a character? ")

### For loop
Loop that runs countable times

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(10,20):
    print("*")

In [ ]:
import time
for i in range(10,0,-1):
    print(i)
    time.sleep(1)
print("Happy New Year")

### Nested Loops

in each iteration of the outer loop; the inner loop will finish all it's iterations

In [ ]:
rows = int(input("How many rows do you want? "))
columns = int(input("How many columns do you want? "))
symbol = input("Enter a symbol for pattern? ")

for i in range(rows):
    for j in range(columns):
        print(symbol,end="")
    print()

In [ ]:
for i in range(rows):
    for j in range(columns):
        print(symbol,end="")
    print()
    columns-=1

## Loop Control Statements

break: used to terminate loop entirely

continue: skips to the next iteration of the loop

pass: does nothing, acts as a placeholder

In [ ]:
while True:
    name = input("Enter your name ")
    if name != "":
        break

In [ ]:
phone_number = "123-456-789"

for i in phone_number:
    if i =="-":
        continue
    print(i,end="")

In [ ]:
for i in range(1,21):
    if i == 13:
        pass
    else:
        print(i)